.is-sticky .header_area .main_menu .main_box {
    max-width: 100%;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .is-sticky .header_area #search_input_box {
    max-width: 100%; }
  
  .sticky-wrapper {
    position: absolute;
    top: 40px;
    width: 100%; }
    @media (max-width: 991px) {
      .sticky-wrapper {
        top: 0; } }
  
  .header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header_area .main_menu .main_box {
      background: #fff;
      margin: 0px auto 0;
      max-width: 1200px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header_area .navbar {
      background: #fff;
      padding: 0px;
      border: 0px;
      border-radius: 0px; }
      @media (max-width: 991px) {
        .header_area .navbar .navbar-collapse {
          margin-top: 30px; }
          .header_area .navbar .navbar-collapse .nav-item {
            padding: 10px; } }
      .header_area .navbar .navbar-toggler .icon-bar {
        color: #000;
        height: 2px;
        width: 20px;
        content: "";
        background: #000;
        display: block;
        margin: 5px; }
      .header_area .navbar .nav .nav-item {
        margin-right: 45px; }
        .header_area .navbar .nav .nav-item .nav-link {
          text-transform: uppercase;
          padding: 0px;
          display: inline-block;
          font-size: 12px;
          font-weight: 500;
          color: #222222; }
          @media (min-width: 991px) {
            .header_area .navbar .nav .nav-item .nav-link {
              padding: 10px 0; } }
          .header_area .navbar .nav .nav-item .nav-link:after {
            display: none; }
        .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
          color: #ffba00; }
        .header_area .navbar .nav .nav-item.submenu {
          position: relative; }
          .header_area .navbar .nav .nav-item.submenu ul {
            border: none;
            padding: 0px;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            background: #fff; }
            @media (min-width: 992px) {
              .header_area .navbar .nav .nav-item.submenu ul {
                position: absolute;
                top: 140%;
                left: 0px;
                min-width: 200px;
                text-align: left;
                opacity: 0;
                -webkit-transition: visibility 0.5s ease;
                -moz-transition: visibility 0.5s ease;
                -o-transition: visibility 0.5s ease;
                transition: visibility 0.5s ease;
                visibility: hidden;
                display: block; } }
            .header_area .navbar .nav .nav-item.submenu ul:before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 10px 0 10px;
              border-color: #eeeeee transparent transparent transparent;
              position: absolute;
              right: 24px;
              top: 45px;
              z-index: 3;
              opacity: 0;
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item {
              display: block;
              float: none;
              margin-right: 0px;
              border-bottom: 1px solid #ededed;
              margin-left: 0px;
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item.active {
                background: #ffba00; }
                .header_area .navbar .nav .nav-item.submenu ul .nav-item.active .nav-link {
                  color: #fff; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
                line-height: 45px;
                padding: 0px 30px;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                display: block;
                margin-right: 0px; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
                border-bottom: none; }
              .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
                background: #ffba00;
                color: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu:hover ul {
              visibility: visible;
              opacity: 1; } }
          .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
            margin-top: 0px; }
        .header_area .navbar .nav .nav-item:last-child {
          margin-right: 0px; }
      @media (min-width: 991px) {
        .header_area .navbar .nav.navbar-nav.navbar-right {
          display: -webkit-inline-box; } }
      .header_area .navbar .nav.navbar-nav.navbar-right li {
        margin-left: 25px;
        margin-right: 0px; }
        @media (max-width: 991px) {
          .header_area .navbar .nav.navbar-nav.navbar-right li {
            margin-left: 0px; } }
        .header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
          margin-left: 35px; }
          @media (max-width: 991px) {
            .header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
              display: none; } }
        .header_area .navbar .nav.navbar-nav.navbar-right li span {
          color: #222222;
          line-height: 80px;
          font-weight: 500; }
      .header_area .navbar .nav.navbar-nav.navbar-right .search {
        background: transparent;
        border: 0;
        cursor: pointer;
        padding: 0; }
  
  #search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 5px 20px; }
    #search_input_box .form-control {
      background: transparent;
      border: 0;
      color: #ffffff;
      font-weight: 400;
      font-size: 15px;
      padding: 0; }
      #search_input_box .form-control:focus {
        box-shadow: none;
        outline: none; }
    #search_input_box input.placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box input:-moz-placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box input::-moz-placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box input::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 14px; }
    #search_input_box .btn {
      width: 0;
      height: 0;
      padding: 0;
      border: 0; }
    #search_input_box .lnr-cross {
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 3px; }
  
  @media (max-width: 575px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      padding: 0px 15px; } }



.banner-area {
background: url(./img/banner/banner-bg.jpg) center no-repeat;
background-size: cover;
position: relative; }
@media (max-width: 768px) {
    .banner-area .fullscreen {
    height: 650px !important; } }
.banner-area .active-banner-slider .owl-nav {
    position: absolute;
    right: 0;
    bottom: -200px; }
    @media (max-width: 1920px) {
    .banner-area .active-banner-slider .owl-nav {
        right: -115px; } }
    @media (max-width: 1680px) {
    .banner-area .active-banner-slider .owl-nav {
        right: 0px; } }
    @media (max-width: 991px) {
    .banner-area .active-banner-slider .owl-nav {
        display: none; } }
    .banner-area .active-banner-slider .owl-nav .owl-prev,
    .banner-area .active-banner-slider .owl-nav .owl-next {
    display: inline-block;
    margin: 10px;
    opacity: .5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .banner-area .active-banner-slider .owl-nav .owl-prev:hover,
    .banner-area .active-banner-slider .owl-nav .owl-next:hover {
        opacity: 1; }
.banner-area .banner-content {
    padding-left: 10px; }
    @media (max-width: 991px) {
    .banner-area .banner-content {
        padding-left: 0; } }
    .banner-area .banner-content h1 {
    font-size: 60px;
    line-height: 66px;
    font-weight: 700;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
        .banner-area .banner-content h1 {
        font-size: 35px;
        line-height: 46px; } }
    .banner-area .banner-content p {
    margin: 0; }
@media (max-width: 991px) {
    .banner-area .banner-img {
    display: none; } }

.add-bag {
margin-top: 30px; }
.add-bag .add-btn {
    height: 50px;
    width: 50px;
    line-height: 52px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2); }
    .add-bag .add-btn span {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    color: #fff; }
.add-bag .add-text {
    padding-left: 15px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #222222; }

.organic-breadcrumb {
background: url(./img/banner/common-banner.jpg) center no-repeat;
background-size: cover;
padding-top: 130px; }
@media (max-width: 991px) {
    .organic-breadcrumb {
    padding-top: 80px; } }
@media (max-width: 767px) {
    .organic-breadcrumb {
    background: none;
    background: -webkit-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%); } }

    #category .organic-breadcrumb {
      margin-bottom: 100px; }
    
    .breadcrumb-banner {
      padding: 90px 0 100px 0; }
      .breadcrumb-banner h1 {
        font-weight: 600;
        color: #fff; }
        @media (max-width: 767px) {
          .breadcrumb-banner h1 {
            font-size: 30px; } }
      .breadcrumb-banner p {
        margin-bottom: 0;
        color: #fff; }
      .breadcrumb-banner nav a {
        display: inline-block;
        color: #fff;
        font-weight: 400; }
        .breadcrumb-banner nav a span {
          display: inline-block;
          margin: 0 10px; }
      .breadcrumb-banner .col-first {
        padding-right: 15px; }
        @media (max-width: 1680px) {
          .breadcrumb-banner .col-first {
            padding-right: 40px; } }
        @media (max-width: 991px) {
          .breadcrumb-banner .col-first {
            width: 48%; } }
        @media (max-width: 767px) {
          .breadcrumb-banner .col-first {
            width: 100%; } }




@media (max-width: 768px) {
    .features-area {
      padding-top: 0; } }
  .features-area .col-lg-3:last-child .single-features {
    border-right: 0; }
    @media (max-width: 575px) {
      .features-area .col-lg-3:last-child .single-features {
        margin-top: 30px; } }
  .features-area .col-lg-3:nth-child(3) .single-features,
  .features-area .col-lg-3:nth-child(4) .single-features {
    margin-bottom: 0; }
  
  .features-inner {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px 0; }
  
  .single-features {
    text-align: center;
    border-right: 1px solid #eeeeee; }
    @media (max-width: 991px) {
      .single-features {
        border-right: none;
        margin-bottom: 30px; } }
    .single-features .f-icon {
      margin-bottom: 20px; }
      .single-features .f-icon img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .single-features h6 {
      font-size: 16px;
      margin-bottom: 0; }
    .single-features p {
      margin-bottom: 0; }
    .single-features:hover .f-icon img {
      opacity: .5; }






      /* start category area css
============================================================================================ */
.single-deal {
    position: relative;
    margin-bottom: 30px; }
    .single-deal .overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: #000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-deal .deal-details {
      position: absolute;
      left: 50%;
      top: 115%;
      display: inline-block;
      text-align: center;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-deal .deal-details h6 {
        color: #fff;
        text-transform: uppercase; }
    .single-deal:hover .overlay {
      opacity: .5;
      visibility: visible; }
    .single-deal:hover .deal-details {
      top: 50%;
      opacity: 1;
      visibility: visible; }
  
  /* end category area css
  ============================================================================================ */




  /* start product area css
============================================================================================ */
.active-product-area {
    padding-top: 70px;
    padding-bottom: 50px; }
    .active-product-area .owl-nav div {
      position: absolute;
      left: 35%;
      top: 7%;
      opacity: .3; }
      @media (max-width: 1440px) {
        .active-product-area .owl-nav div {
          left: 30%; } }
      @media (max-width: 1200px) {
        .active-product-area .owl-nav div {
          left: 28%; } }
      @media (max-width: 991px) {
        .active-product-area .owl-nav div {
          top: 3%;
          left: 25%; } }
      @media (max-width: 870px) {
        .active-product-area .owl-nav div {
          left: 15%; } }
      @media (max-width: 767px) {
        .active-product-area .owl-nav div {
          left: 10%;
          top: 2%;
          margin-top: -25px; } }
      @media (max-width: 570px) {
        .active-product-area .owl-nav div {
          left: 37%;
          top: 1%;
          margin-top: -25px; } }
      @media (max-width: 480px) {
        .active-product-area .owl-nav div {
          margin-top: -20px;
          left: 28%; } }
      .active-product-area .owl-nav div:hover {
        opacity: 1; }
    .active-product-area .owl-nav .owl-next {
      left: auto;
      right: 35%; }
      @media (max-width: 1440px) {
        .active-product-area .owl-nav .owl-next {
          right: 30%; } }
      @media (max-width: 1200px) {
        .active-product-area .owl-nav .owl-next {
          right: 28%; } }
      @media (max-width: 991px) {
        .active-product-area .owl-nav .owl-next {
          top: 3%;
          right: 25%; } }
      @media (max-width: 870px) {
        .active-product-area .owl-nav .owl-next {
          right: 15%; } }
      @media (max-width: 767px) {
        .active-product-area .owl-nav .owl-next {
          right: 10%;
          top: 2%;
          margin-top: -25px; } }
      @media (max-width: 570px) {
        .active-product-area .owl-nav .owl-next {
          right: 37%;
          top: 1%;
          margin-top: -25px; } }
      @media (max-width: 480px) {
        .active-product-area .owl-nav .owl-next {
          margin-top: -20px;
          right: 28%; } }
  
  .single-product {
    margin-bottom: 50px; }
    .single-product img {
      margin-bottom: 20px;
      width: 100%; }
    .single-product .product-details h6 {
      font-size: 16px;
      text-transform: uppercase; }
    .single-product .product-details .price h6 {
      font-size: 14px;
      display: inline-block;
      padding-right: 15px;
      margin: 0; }
    .single-product .product-details .price .l-through {
      text-decoration: line-through;
      color: #cccccc;
      margin-bottom: 0; }
    .single-product .product-details .prd-bottom {
      position: relative;
      margin-top: 20px; }
      .single-product .product-details .prd-bottom .social-info {
        position: relative;
        display: inline-block;
        width: 35px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        overflow: hidden; }
        .single-product .product-details .prd-bottom .social-info span {
          position: relative;
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
          background: #828bb2;
          border-radius: 50%;
          display: inline-block;
          color: #fff;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          z-index: 1; }
          .single-product .product-details .prd-bottom .social-info span:after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            border-radius: 50%;
            opacity: 0;
            visibility: hidden;
            z-index: -1; }
        .single-product .product-details .prd-bottom .social-info .hover-text {
          position: absolute;
          left: 0;
          top: 3px;
          width: 100px;
          left: -40px;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 12px;
          color: #222222;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          opacity: 0;
          visibility: hidden; }
        .single-product .product-details .prd-bottom .social-info:hover {
          width: 115px; }
          .single-product .product-details .prd-bottom .social-info:hover span:after {
            opacity: 1;
            visibility: visible; }
          .single-product .product-details .prd-bottom .social-info:hover .hover-text {
            opacity: 1;
            visibility: visible;
            left: 40px; }
  
  /* end product area css
  ============================================================================================ */
  
  .exclusive-deal-area {
    background: #f9f9ff; }
    .exclusive-deal-area .exclusive-left {
      position: realtive;
      background: url(./img/exclusive.jpg) center no-repeat;
      background-size: cover;
      text-align: center;
      padding: 275px 0; }
      @media (max-width: 1024px) {
        .exclusive-deal-area .exclusive-left {
          padding: 175px 0; } }
      .exclusive-deal-area .exclusive-left:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background: #000;
        opacity: .5; }
      .exclusive-deal-area .exclusive-left .clock_sec {
        padding: 0 190px; }
        @media (max-width: 1680px) {
          .exclusive-deal-area .exclusive-left .clock_sec {
            padding: 0 135px; } }
        @media (max-width: 1440px) {
          .exclusive-deal-area .exclusive-left .clock_sec {
            padding: 0 75px; } }
        @media (max-width: 991px) {
          .exclusive-deal-area .exclusive-left .clock_sec {
            padding: 0 220px; } }
        @media (max-width: 767px) {
          .exclusive-deal-area .exclusive-left .clock_sec {
            padding: 0 130px; } }
        @media (max-width: 575px) {
          .exclusive-deal-area .exclusive-left .clock_sec {
            padding: 0 15px; } }
        .exclusive-deal-area .exclusive-left .clock_sec.row {
          margin-right: 0;
          margin-left: 0; }
        .exclusive-deal-area .exclusive-left .clock_sec h1 {
          font-size: 36px;
          color: #fff;
          margin: 0; }
          @media (max-width: 1380px) {
            .exclusive-deal-area .exclusive-left .clock_sec h1 {
              font-size: 30px; } }
        .exclusive-deal-area .exclusive-left .clock_sec p {
          color: #fff;
          margin-bottom: 30px; }
        .exclusive-deal-area .exclusive-left .clock_sec .clock-wrap {
          background: #fff;
          padding: 18px 0;
          border-radius: 5px; }
          .exclusive-deal-area .exclusive-left .clock_sec .clock-wrap .clockinner {
            color: #222222;
            border-right: 1px solid #eee; }
            .exclusive-deal-area .exclusive-left .clock_sec .clock-wrap .clockinner h1 {
              color: #222222;
              margin-bottom: 0; }
      .exclusive-deal-area .exclusive-left .primary-btn {
        margin-top: 40px; }
    .exclusive-deal-area .exclusive-right {
      text-align: center; }
      .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
        padding: 0 230px; }
        @media (max-width: 1440px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
            padding: 0 130px; } }
        @media (max-width: 1380px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
            padding: 0 168px; } }
        @media (max-width: 1024px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
            padding: 0 80px; } }
        @media (max-width: 991px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
            margin-top: 50px; } }
        @media (max-width: 575px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider {
            padding: 0 15px; } }
        @media (max-width: 767px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav {
            display: none; } }
        .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav div {
          position: absolute;
          left: 5%;
          top: 50%;
          opacity: .3;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav div:hover {
            opacity: 1; }
        .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .owl-nav .owl-next {
          left: auto;
          right: 5%; }
        @media (max-width: 991px) {
          .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .single-exclusive-slider {
            padding-bottom: 80px; }
            .exclusive-deal-area .exclusive-right .active-exclusive-product-slider .single-exclusive-slider img {
              max-width: 450px;
              margin: 0 auto; } }
      .exclusive-deal-area .exclusive-right .product-details h4 {
        font-size: 24px;
        text-transform: uppercase; }
      .exclusive-deal-area .exclusive-right .product-details .price h6 {
        font-size: 14px;
        display: inline-block;
        padding-right: 15px;
        margin-bottom: 15px; }
      .exclusive-deal-area .exclusive-right .product-details .price .l-through {
        text-decoration: line-through;
        color: #cccccc;
        margin-bottom: 0; }
      .exclusive-deal-area .exclusive-right .product-details .add-bag {
        margin: 30px 0; }
        .exclusive-deal-area .exclusive-right .product-details .add-bag .add-btn {
          height: 30px;
          width: 30px;
          line-height: 32px; }
          .exclusive-deal-area .exclusive-right .product-details .add-bag .add-btn span {
            transform: rotate(0deg); }


/* Login form Area css
============================================================================================ */
.login_box_area .login_box_img {
  margin-right: -30px;
  position: relative; }
  .login_box_area .login_box_img img {
    width: 100%; }
  .login_box_area .login_box_img:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    opacity: .5; }
  .login_box_area .login_box_img .hover {
    position: absolute;
    top: 50%;
    left: 0px;
    text-align: center;
    width: 100%;
    transform: translateY(-50%); }
    .login_box_area .login_box_img .hover h4 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 15px; }
    .login_box_area .login_box_img .hover p {
      max-width: 380px;
      margin: 0px auto 25px;
      color: #fff; }
    .login_box_area .login_box_img .hover .primary-btn {
      border-radius: 0px;
      line-height: 38px;
      text-transform: uppercase; }
      .login_box_area .login_box_img .hover .primary-btn:hover:before {
        left: 260px; }

.login_form_inner {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
  height: 100%;
  text-align: center;
  padding-top: 115px; }
  .login_form_inner h3 {
    color: #222222;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px; }
  .login_form_inner .login_form {
    max-width: 385px;
    margin: auto; }
  .login_form_inner.reg_form {
    padding-top: 60px; }
    .login_form_inner.reg_form h3 {
      margin-bottom: 70px; }

.login_form .form-group input {
  height: 54px;
  border: none;
  border-bottom: 1px solid #cccccc;
  border-radius: 0px;
  outline: none;
  box-shadow: none; }
.login_form .form-group .creat_account {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left; }
  .login_form .form-group .creat_account input {
    height: auto;
    margin-right: 10px; }
.login_form .form-group .primary-btn {
  display: block;
  border-radius: 0px;
  line-height: 38px;
  width: 100%;
  text-transform: uppercase;
  border: none; }
  .login_form .form-group .primary-btn:hover:before {
    left: 370px; }
.login_form .form-group a {
  font-size: 14px;
  color: #777777;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  display: block; }

/* End Login form Area css
============================================================================================ */



/*============== contact_area css ================*/
.mapBox {
  height: 420px;
  margin-top: 80px;
  margin-bottom: 100px; }

.contact_info .info_item {
  position: relative;
  padding-left: 45px; }
  .contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #ffba00;
    font-weight: 600; }
  .contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #222222; }
    .contact_info .info_item h6 a {
      color: #222222; }
  .contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px; }

.contact_form .form-group {
  margin-bottom: 10px; }
  .contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Roboto", sans-serif;
    border-radius: 0px;
    padding-left: 20px; }
    .contact_form .form-group .form-control:focus {
      box-shadow: none;
      outline: none; }
    .contact_form .form-group .form-control.placeholder {
      color: #999; }
    .contact_form .form-group .form-control:-moz-placeholder {
      color: #999; }
    .contact_form .form-group .form-control::-moz-placeholder {
      color: #999; }
    .contact_form .form-group .form-control::-webkit-input-placeholder {
      color: #999; }
  .contact_form .form-group textarea {
    resize: none; }
    .contact_form .form-group textarea.form-control {
      height: 134px; }
.contact_form .primary-btn {
  background: #ffba00;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 0; }

/* Contact Success and error Area css
============================================================================================ */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%; }
  .modal-message .modal-dialog .modal-content .modal-header {
    text-align: center;
    display: block;
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 50px; }
    .modal-message .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: -15px;
      top: -15px;
      padding: 0px;
      color: #fff;
      opacity: 1;
      cursor: pointer; }
    .modal-message .modal-dialog .modal-content .modal-header h2 {
      display: block;
      text-align: center;
      color: #ffba00;
      padding-bottom: 10px;
      font-family: "Roboto", sans-serif; }
    .modal-message .modal-dialog .modal-content .modal-header p {
      display: block; }

/* End Contact Success and error Area css
============================================================================================ */




  .footer-area {
    padding-top: 100px;
    background-color: #222222; }
    .footer-area h6 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: 600; }
      @media (max-width: 767px) {
        .footer-area h6 {
          margin-bottom: 15px; } }

  .copy-right-text i,
  .copy-right-text a {
    color: #ffba00; }

  .instafeed {
    margin: -5px; }
    .instafeed li {
      overflow: hidden;
      width: 25%; }
      .instafeed li img {
        margin: 5px; }

  .footer-social a {
    padding-right: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .footer-social a:hover i {
      color: #ffba00; }
  .footer-social i {
    color: #cccccc;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

  @media (max-width: 991px) {
    .single-footer-widget {
      margin-bottom: 40px; } }
  .single-footer-widget .form-inline {
    display: inline-block;
    width: 100%; }
  .single-footer-widget input {
    border: none;
    width: 80% !important;
    font-weight: 300;
    background: #fff;
    color: #777;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px; }
    .single-footer-widget input:focus {
      outline: none;
      box-shadow: none; }
    .single-footer-widget input.placeholder {
      color: #ccc; }
    .single-footer-widget input:-moz-placeholder {
      color: #ccc; }
    .single-footer-widget input::-moz-placeholder {
      color: #ccc; }
    .single-footer-widget input::-webkit-input-placeholder {
      color: #ccc; }
  .single-footer-widget .bb-btn {
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer; }
  .single-footer-widget .info {
    position: absolute;
    margin-top: 5%;
    color: #fff;
    font-size: 12px; }
    .single-footer-widget .info.valid {
      color: green; }
    .single-footer-widget .info.error {
      color: red; }
  .single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px 12px;
    border: 0; }
    .single-footer-widget .click-btn:focus {
      outline: none;
      box-shadow: none; }
  .single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #777777; }
  .single-footer-widget ::selection {
    background-color: #191919 !important;
    color: #777777; }
  .single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300; }
  .single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300; }
  .single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300; }
  .single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300; }
  .single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300; }

  .footer-text {
    padding-top: 80px; }
    @media (max-width: 991px) {
      .footer-text {
        padding-top: 40px; } }
    .footer-text a,
    .footer-text i {
      color: #ffba00; }
